<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878430131026-rokg9jknin44eab6716ulgmjjj90042s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878430131026-rokg9jknin44eab6716ulgmjjj90042s</string>
	<key>API_KEY</key>
	<string>AIzaSyAQBfdk5EA3NyZTaWaWnE-UVZ5ptVx2eko</string>
	<key>GCM_SENDER_ID</key>
	<string>878430131026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TB.slzs</string>
	<key>PROJECT_ID</key>
	<string>lankomumas-c1227</string>
	<key>STORAGE_BUCKET</key>
	<string>lankomumas-c1227.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878430131026:ios:03737e832dc7253523e08b</string>
	<key>DATABASE_URL</key>
	<string>https://lankomumas-c1227.firebaseio.com</string>
</dict>
</plist>